*{
    scroll-behavior: smooth;
}

main{
    background-color: #2a2d2d;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 4%;
}


body{
    position: relative;
    /*background-color: #2a2d2d;*/
}

main>section>header{
    background-color: rgba(0, 0, 0, 0.9);
    width: 99vw;
    height: 7vh;
    text-align: center;
    top: 0;
    position: sticky;
    z-index: 2;
}

body>header{
    background-color: #272626e5;
    position: fixed;
    width: 100%;
    height: 8vh;
    text-align:end;
    top: 0;
    display: block;
    z-index: 10;
    border-top: 1px solid rgb(14, 165, 224);
    border-bottom: 1px solid rgb(18, 156, 211);
    color:#000000;

}

#topic{
    background:transparent;
    text-decoration: none;
    position: absolute;
    right: 15px;
    top: 5px;
}

body>header>div{
    width: 5%;
    height: 5%;
    position: absolute;
    top: 0;
    left: 0;

}

body>header>div>h4{

    position: absolute;
    top: 0%;
    left: 88%;
    font-size: 20px;
    font-family: 'Give You Glory', cursive;
    color: #00F6F6;
    text-decoration: none;

}

/*section 1*/

main>section:nth-child(1){
    height: 100vh;
    background-size: 100vw 100vh;
    background-color: #040C13;
    position: relative;
}

main>section:first-child>aside{
    width: 50%;
    height: 60%;
    position:absolute;
    top: 5%;
    right: 0%;
}

main>section:nth-child(1)>aside>img{
    position: absolute;
    top: 13%;
    right: 36%;

}
main>section:nth-child(1)>aside>h4{

    font-family: 'Abhaya Libre', serif;
    color: white;
    position:absolute;
    top:113%;
    right: 18%;
    font-size:2rem;
    /* text-shadow: 1px 2px -3px 0 #00F6F6; */
}



.icon{
    position: absolute;
    padding-left: 90%;
    top: 24%;
}


.icon a{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 5%;
    width: 50px;
    height: 50px;
    background: #0c0c0c;
    border: 2px solid #00F6F6;
    border-radius: 50%;
    margin: 1rem 1rem 1rem;
    font-size: 2rem;
    color: #00F6F6;
    transition: .5s ease;
    text-decoration: none;
    flex-direction: row-reverse;
    align-content: space-around;
    align-items: center;

}

.icon a:hover{
    background: #00F6F6;
    color: #040C13;
    box-shadow: 0 0 1rem #00F6F6;

}

.fb{
    position:absolute;
    top: 30%;
    right: 5%;
}

.linkedin{
    position:absolute;
    top: 30%;
    right: 5%;
}

.twitter{
    position:absolute;
    top: 30%;
    right: 5%;
}

.git{
    position:absolute;
    top: 30%;
    right: 5%;
}

.YouTube{
    position:absolute;
    top: 30%;
    right: 5%;
}

/*.icon{*/
/*    width: 50%;*/
/*    height: 60%;*/

/*}*/

/*.icon{*/
/*    position: absolute;*/
/*    padding-left: 90%;*/
/*    top: 30%;*/

/*}*/

/*.icon a{*/
/*    display:flex ;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    background:transparent;*/
/*    border: 2px solid #00F6F6;*/
/*    border-radius: 50%;*/
/*    font-size: 2rem;*/
/*    color: #00F6F6;*/
/*    transition: .5s ease;*/
/*    text-decoration: none;*/

/*}*/

/*.icon a:hover{*/
/*    background: #00F6F6;*/
/*    color: #040C13;*/
/*    box-shadow: 0 0 1rem #00F6F6;*/

/*}*/

/*.icon>nav>img:first-child{*/
/*    position:absolute;*/
/*    top: 30%;*/
/*    right: 5%;*/
/*}*/

/*.icon>nav>img:nth-child(2){*/
/*    position:absolute;*/
/*    top: 40%;*/
/*    right: 5%;*/
/*}*/

/*.icon>nav>img:nth-child(3){*/
/*    position:absolute;*/
/*    top: 50%;*/
/*    right: 5%;*/
/*}*/

/*.icon>nav>img:nth-child(4){*/
/*    position:absolute;*/
/*    top: 60%;*/
/*    right: 5%;*/
/*}*/

/*.icon>nav>img:nth-child(5){*/
/*    position:absolute;*/
/*    top: 70%;*/
/*    right: 5%;*/
/*}*/

#welcome>hgroup>h2{
    position: absolute;
    top: 12%;
    left: 3%;
    font-size: 30px;
    color: #11E2FF;
    font-family: 'Kaushan Script', cursive;

}

#welcome>hgroup>h1{
    position: absolute;
    top: 35%;
    left: 3%;
    font-size: 50px;
    font-family: 'Kumar One', cursive;
    color: #FFFFFF;

}

#welcome>article>pre{
    position: absolute;
    top: 50%;
    left: 3%;
    font-size: 30px;
    font-family: 'Judson', serif;
    color: #DBE4E4;

}

/*section 2*/

main>section:nth-child(2){
    height: 100vh;
    background-size: 100vw 100vh;
    background-color: #07131C;
    position: relative;

}

main>section:nth-child(2)>h1{
    position: absolute;
    top: 5%;
    left: 1%;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Lemon', cursive;
}

main>section:nth-child(2)>article>pre{
    color: #04CFFC;
    position: absolute;
    top: 9%;
    left: 16%;
    font-size: 20px;
}

main>section:nth-child(2)>address{
    position: absolute;
    top: 44%;
    left: 57%;
    font-size: 10px;
    color: white;
    padding-bottom: 30px;

}

main>section:nth-child(2)>address>h1{
    padding-top: 5px;
}

#section2about{
    width: 10%;
    height: 60%;
    position: absolute;
    top: 44%;
    left: 44%;
    font-size: 10px;
    color: black;
}

#section2about>div{
    width: 100%;
    height: 8%;
    background-color: #00748D;
    border-radius: 10px;
    text-align: center;
}

main>section:nth-child(2)>aside>img{
    top: 20%;
    position: absolute;
    left: 2%;
}

/*section 3*/

main>section:nth-child(3){
    background-color: #1B222C;
    height: 120vh;
    background-size: 100vw 100vh;
    position: relative;
    font-size: 0;
}

main>section:nth-child(3)>h1>strong{
    position: absolute;
    top: 5%;
    left: 1%;
    color: #ffffff;
    font-family: 'Lemon', cursive;
    font-size:2rem;

}

#uiux{
    position: absolute;
    width: 25%;
    height: 53%;
    background-color: #000E1E;
    top: 14%;
    left:5%;
    color:rgb(0, 238, 255);
    transition-duration: 3s;
    transition-property:all;
    transition: 3s;
    border-radius: 10px;
}

#uiux:hover{
    transition-duration: 3s;
    transition-property:all;
    border: 4px solid #00F6F6 ;
    transform: scale(1.08, 1.08);
    z-index: 2;
}

#uiux>img{
    position: absolute;
    left:25%;
}

#uiux>h1{
    position: absolute;
    text-align: center;
    font-size: 25px;
    top: 28%;
    left:30%;
    color: white;
}

#uiux>pre{
    position: absolute;
    font-size: 15px;
    top: 40%;
    left:-30%;
    color: white;
}

/* #uiux{
 width: 25%;
 height: 60%;
 position: absolute;
 top: 10%;
 left:5%;
 border-radius: 10px;
 background-color: #000E1E;
} */

#www{
    position: absolute;
    width: 25%;
    height: 53%;
    background-color: #000E1E;
    top: 14%;
    left:38%;
    color:rgb(0, 238, 255);
    transition-duration: 3s;
    transition-property:all;
    transition: 3s;
    border-radius: 10px;
}

#www:hover{
    transition-duration: 3s;
    transition-property:all;
    border: 4px solid #00F6F6 ;
    transform: scale(1.08, 1.08);
    z-index: 2;
}
/* #www{
 width: 25%;
 height: 60%;
 position: absolute;
 top: 10%;
 left:38%;
 border-radius: 10px;
 background-color: #000E1E;
} */

#www>img{
    position: absolute;
    left:30%;
}

#www>h1{
    position: absolute;
    text-align: center;
    font-size: 25px;
    top: 28%;
    left:30%;
    color: white;
}

#www>pre{
    position: absolute;
    font-size: 15px;
    top: 40%;
    left:-40%;
    color: white;
}

#bugfix{
    position: absolute;
    width: 25%;
    height: 53%;
    background-color: #000E1E;
    top: 14%;
    left:70%;
    color:rgb(0, 238, 255);
    transition-duration: 3s;
    transition-property:all;
    transition: 3s;
    border-radius: 10px;
}

#bugfix:hover{
    transition-duration: 3s;
    transition-property:all;
    border: 4px solid #00F6F6 ;
    transform: scale(1.08, 1.08);
    z-index: 2;
}

/* #bugfix{
 width: 25%;
 height: 60%;
 position: absolute;
 background-color: aliceblue;
 top: 10%;
 left:70%;
 border-radius: 10px;
 background-color: #000E1E;
} */

#bugfix>img{
    position: absolute;
    left:30%;
}

#bugfix>h1{
    position: absolute;
    text-align: center;
    font-size: 25px;
    top: 28%;
    left:30%;
    color: white;
}

#bugfix>pre{
    position: absolute;
    font-size: 15px;
    top: 40%;
    left:-40%;
    color: white;
}

main>section:nth-child(3)>h4{
    position: absolute;
    font-size: 21px;
    top: 70%;
    left:2%;
    color: white;
}

#languagetools>img{
    position:relative;
    right:41px;
    transition: 3s;
    margin-top: 46%;
    left: 0%;
}

#languagetools>img:hover{
    transform: scale(0.5, 0.5);
    z-index: 2;

}

/* section4 */

main>section:nth-child(4){
    background-color: #040C13;
    height: 120vh;
    background-size: 100vw 100vh;
    position: relative;
    font-size: 0;

}

main>section:nth-child(4)>h1>strong{
    color: #ffffff;
    font-family: 'Lemon', cursive;
    position: absolute;
    top: 2%;
    left: 1%;
    font-size:2rem;
}

main>section:nth-child(4)>h3{
    font-family: 'Lustria', serif;
    color: white;
    position: absolute;
    left: 3%;
    top: 6%;
    font-size:1.7rem;
}

/*.calculator{*/
/*    width: 28%;*/
/*    height: 35%;*/
/*    position: absolute;*/
/*    background-color: #051324;*/
/*    top: 15%;*/
/*    left:3%;*/
/*    border-radius: 30px;*/


/*}*/

/*!*.calculator>img{*!*/
/*!*    position: relative;*!*/
/*!*    top: 5%;*!*/
/*!*    left: 30%;*!*/
/*!*}*!*/

/*!*.calculator>pre{*!*/
/*!*    position: absolute;*!*/
/*!*    top: 62%;*!*/
/*!*    left:27%;*!*/
/*!*    color: white;*!*/
/*!*    font-family: 'Kaisei Opti', serif;*!*/
/*!*    font-size: 25px ;*!*/
/*!*}*!*/

/*!*.calculator .calcLayer {*!*/
/*!*    position: absolute;*!*/
/*!*    top: 19%;*!*/
/*!*    left: 0%;*!*/
/*!*    width: 28%;*!*/
/*!*    height: 35%;*!*/
/*!*    background: linear-gradient(rgba(0, 0, 0, .1), #0ef);*!*/
/*!*    display: flex;*!*/
/*!*    justify-content: center;*!*/
/*!*    align-items: center;*!*/
/*!*    flex-direction: column;*!*/
/*!*    text-align: center;*!*/
/*!*    padding: 0 4rem;*!*/
/*!*    transform: translateY(100%);*!*/
/*!*    transition: .5s ease;*!*/
/*!*    border-radious: 10px;*!*/

/*!*}*!*/

/*!*.calculator:hover .calcLayer {*!*/
/*!*    transform: translateY(0);*!*/
/*!*}*!*/

/*.connet4games{*/
/*    width: 28%;*/
/*    height: 35%;*/
/*    position: absolute;*/
/*    background-color: #051324;*/
/*    top: 15%;*/
/*    left:36%;*/
/*    border-radius: 30px;*/

/*}*/

/*.connet4games>img{*/
/*    position: relative;*/
/*    top: 5%;*/
/*    left: 30%;*/
/*}*/

/*.connet4games>pre{*/
/*    position: absolute;*/
/*    top: 62%;*/
/*    left:10%;*/
/*    color: white;*/
/*    font-family: 'Kaisei Opti', serif;*/
/*    font-size: 25px ;*/
/*}*/

/*.connet4games .connetedLayer {*/
/*    position: absolute;*/
/*    top: 19%;*/
/*    left: 0%;*/
/*    width: 28%;*/
/*    height: 35%;*/
/*    background: linear-gradient(rgba(0, 0, 0, .1), #0ef);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    padding: 0 4rem;*/
/*    transform: translateY(100%);*/
/*    transition: .5s ease;*/
/*    border-radious: 10px;*/

/*}*/

/*.connet4games:hover .connetedLayer {*/
/*    transform: translateY(0);*/
/*}*/

/*.furniture{*/
/*    width: 28%;*/
/*    height: 35%;*/
/*    position: absolute;*/
/*    background-color: #051324;*/
/*    top: 15%;*/
/*    left:68%;*/
/*    border-radius: 30px;*/

/*}*/

/*.furniture>img{*/
/*    position: relative;*/
/*    top: 5%;*/
/*    left: 30%;*/
/*}*/

/*.furniture>pre{*/
/*    position: absolute;*/
/*    top: 62%;*/
/*    left:5%;*/
/*    color: white;*/
/*    font-family: 'Kaisei Opti', serif;*/
/*    font-size: 25px ;*/
/*}*/

/*.furniture .furnitureLayer {*/
/*    position: absolute;*/
/*    top: 19%;*/
/*    left: 0%;*/
/*    width: 28%;*/
/*    height: 35%;*/
/*    background: linear-gradient(rgba(0, 0, 0, .1), #0ef);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    padding: 0 4rem;*/
/*    transform: translateY(100%);*/
/*    transition: .5s ease;*/
/*    border-radious: 10px;*/

/*}*/

/*.furniture:hover .furnitureLayer {*/
/*    transform: translateY(0);*/
/*}*/

/*.hostal{*/
/*    width: 28%;*/
/*    height: 35%;*/
/*    position: absolute;*/
/*    background-color: #051324;*/
/*    top: 55%;*/
/*    left:3%;*/
/*    border-radius: 30px;*/

/*}*/

/*.hostal>img{*/
/*    position: relative;*/
/*    top: 5%;*/
/*    left: 30%;*/
/*}*/

/*.hostal>pre{*/
/*    position: absolute;*/
/*    top: 62%;*/
/*    left:10%;*/
/*    color: white;*/
/*    font-family: 'Kaisei Opti', serif;*/
/*    font-size: 25px ;*/
/*}*/

/*.hostal .hostalLayer {*/
/*    position: absolute;*/
/*    top: 19%;*/
/*    left: 0%;*/
/*    width: 28%;*/
/*    height: 35%;*/
/*    background: linear-gradient(rgba(0, 0, 0, .1), #0ef);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    padding: 0 4rem;*/
/*    transform: translateY(100%);*/
/*    transition: .5s ease;*/
/*    border-radious: 10px;*/

/*}*/

/*.hostal:hover .hostalLayer {*/
/*    transform: translateY(0);*/
/*}*/


/*.student{*/
/*    width: 28%;*/
/*    height: 35%;*/
/*    position: absolute;*/
/*    background-color: #051324;*/
/*    top: 55%;*/
/*    left:35%;*/
/*    border-radius: 30px;*/

/*}*/

/*.student>img{*/
/*    position: relative;*/
/*    top: 5%;*/
/*    left: 30%;*/
/*}*/

/*.student>pre{*/
/*    position: absolute;*/
/*    top: 62%;*/
/*    left:10%;*/
/*    color: white;*/
/*    font-family: 'Kaisei Opti', serif;*/
/*    font-size: 25px ;*/
/*}*/

/*.student .studentLayer {*/
/*    position: absolute;*/
/*    top: 19%;*/
/*    left: 0%;*/
/*    width: 28%;*/
/*    height: 35%;*/
/*    background: linear-gradient(rgba(0, 0, 0, .1), #0ef);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    padding: 0 4rem;*/
/*    transform: translateY(100%);*/
/*    transition: .5s ease;*/
/*    border-radious: 10px;*/

/*}*/

/*.student:hover .studentLayer {*/
/*    transform: translateY(0);*/
/*}*/

/*.chatApplication{*/
/*    width: 28%;*/
/*    height: 35%;*/
/*    position: absolute;*/
/*    background-color: #051324;*/
/*    top: 55%;*/
/*    left:68%;*/
/*    border-radius: 30px;*/

/*}*/

/*.chatApplication>img{*/
/*    position: relative;*/
/*    top: 5%;*/
/*    left: 30%;*/
/*}*/

/*.chatApplication>pre{*/
/*    position: absolute;*/
/*    top: 62%;*/
/*    left:10%;*/
/*    color: white;*/
/*    font-family: 'Kaisei Opti', serif;*/
/*    font-size: 25px ;*/
/*}*/

/*.chatApplication .chatLayer {*/
/*    position: absolute;*/
/*    top: 19%;*/
/*    left: 0%;*/
/*    width: 28%;*/
/*    height: 35%;*/
/*    background: linear-gradient(rgba(0, 0, 0, .1), #0ef);*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    padding: 0 4rem;*/
/*    transform: translateY(100%);*/
/*    transition: .5s ease;*/
/*    border-radious: 10px;*/

/*}*/

/*.chatApplication:hover .chatLayer {*/
/*    transform: translateY(0);*/
/*}*/

.project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    margin-right: 30%;
    height: 100px;
    position: relative;
    top: 30vh

}
.project .calculator{
    width: 28vw;
    height: 39vh;
    /* position: absolute; */
    background-color: #051324;
    top: -29%;
    left: 3%;
    /* border-radius: 30px; */
    /* width: 25vw; */
    /* height: 35vh; */
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1f242d;
    overflow: hidden;
    display: flex;
    left: 11%;
}
.calculator img{
    width: 100%;
    transition: .5s ease;
    height: 67%;
    width: 60%;
    top: 3%;
    left: 26%;
    position: relative;
}
.calculator:hover img{
    transform: scale(1.1);
}
.calculator .calculator-layer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #0ef);
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.calculator:hover .calculator-layer{
    transform: translateY(0);
}
.calculator-layer h3{
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;

}
.calculator-layer p{
    position: absolute;
    font-size: 1.2rem;
    margin: 3rem 0 1rem;
    color: white;
/right: 25%;/
top: 35%;
    left: 10%;
}
.calculator-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 36%;
}
.calculator-layer a i{
    font-size: 1rem;
    color: #1f242d;


}

.project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    margin-right: 30%;
    height: 100px;
    position: relative;
    top: 30vh

}
.project .connet4games{
    width: 28vw;
    height: 39vh;
    /* position: absolute; */
    background-color: #051324;
    top: -29%;
    left: 3%;
    /* border-radius: 30px; */
    /* width: 25vw; */
    /* height: 35vh; */
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1f242d;
    overflow: hidden;
    display: flex;
    left: 11%;
}
.connet4games img{
    width: 100%;
    transition: .5s ease;
    height: 67%;
    width: 60%;
    top: 3%;
    left: 26%;
    position: relative;
}
.connet4games:hover img{
    transform: scale(1.1);
}
.connet4games .connet4games-layer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #0ef);
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.connet4games:hover .connet4games-layer{
    transform: translateY(0);
}
.connet4games-layer h3{
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;

}
.connet4games-layer p{
    position: absolute;
    font-size: 1.2rem;
    margin: 3rem 0 1rem;
    color: white;
/right: 25%;/
top: 35%;
    left: 10%;
}
.connet4games-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 36%;
}
.connet4games-layer a i{
    font-size: 1rem;
    color: #1f242d;


}

.project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    margin-right: 30%;
    height: 100px;
    position: relative;
    top: 30vh

}
.project .furniture{
    width: 28vw;
    height: 39vh;
    /* position: absolute; */
    background-color: #051324;
    top: -29%;
    left: 3%;
    /* border-radius: 30px; */
    /* width: 25vw; */
    /* height: 35vh; */
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1f242d;
    overflow: hidden;
    display: flex;
    left: 11%;
}
.furniture img{
    width: 100%;
    transition: .5s ease;
    height: 67%;
    width: 60%;
    top: 3%;
    left: 26%;
    position: relative;
}
.furniture:hover img{
    transform: scale(1.1);
}
.furniture .furniture-layer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #0ef);
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.furniture:hover .furniture-layer{
    transform: translateY(0);
}
.furniture-layer h3{
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;

}
.furniture-layer p{
    position: absolute;
    font-size: 1.2rem;
    margin: 3rem 0 1rem;
    color: white;
/right: 25%;/
top: 35%;
    left: 10%;
}
.furniture-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 36%;
}
.furniture-layer a i{
    font-size: 1rem;
    color: #1f242d;


}

.project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    margin-right: 30%;
    height: 100px;
    position: relative;
    top: 30vh

}
.project .hostal{
    width: 28vw;
    height: 39vh;
    /* position: absolute; */
    background-color: #051324;
    top: -29%;
    left: 3%;
    /* border-radius: 30px; */
    /* width: 25vw; */
    /* height: 35vh; */
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1f242d;
    overflow: hidden;
    display: flex;
    left: 11%;
}
.hostal img{
    width: 100%;
    transition: .5s ease;
    height: 67%;
    width: 60%;
    top: 3%;
    left: 26%;
    position: relative;
}
.hostal:hover img{
    transform: scale(1.1);
}
.hostal .hostal-layer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #0ef);
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.hostal:hover .hostal-layer{
    transform: translateY(0);
}
.hostal-layer h3{
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;

}
.hostal-layer p{
    position: absolute;
    font-size: 1.2rem;
    margin: 3rem 0 1rem;
    color: white;
/right: 25%;/
top: 35%;
    left: 10%;
}
.hostal-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 36%;
}
.hostal-layer a i{
    font-size: 1rem;
    color: #1f242d;


}

.project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    margin-right: 30%;
    height: 100px;
    position: relative;
    top: 30vh

}
.project .student{
    width: 28vw;
    height: 39vh;
    /* position: absolute; */
    background-color: #051324;
    top: -29%;
    left: 3%;
    /* border-radius: 30px; */
    /* width: 25vw; */
    /* height: 35vh; */
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1f242d;
    overflow: hidden;
    display: flex;
    left: 11%;
}
.student img{
    width: 100%;
    transition: .5s ease;
    height: 67%;
    width: 60%;
    top: 3%;
    left: 26%;
    position: relative;
}
.student:hover img{
    transform: scale(1.1);
}
.student .student-layer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #0ef);
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.student:hover .student-layer{
    transform: translateY(0);
}
.student-layer h3{
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;

}
.student-layer p{
    position: absolute;
    font-size: 1.2rem;
    margin: 3rem 0 1rem;
    color: white;
/right: 25%;/
top: 35%;
    left: 10%;
}
.student-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 36%;
}
.student-layer a i{
    font-size: 1rem;
    color: #1f242d;


}

.project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    margin-right: 30%;
    height: 100px;
    position: relative;
    top: 30vh

}
.project .chatApplication{
    width: 28vw;
    height: 39vh;
    /* position: absolute; */
    background-color: #051324;
    top: -29%;
    left: 3%;
    /* border-radius: 30px; */
    /* width: 25vw; */
    /* height: 35vh; */
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1f242d;
    overflow: hidden;
    display: flex;
    left: 11%;
}
.chatApplication img{
    width: 100%;
    transition: .5s ease;
    height: 67%;
    width: 60%;
    top: 3%;
    left: 26%;
    position: relative;
}
.chatApplication:hover img{
    transform: scale(1.1);
}
.chatApplication .chatApplication-layer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #1f3042);
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.chatApplication:hover .chatApplication-layer{
    transform: translateY(0);
}
.chatApplication-layer h3{
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 7%;

}
.chatApplication-layer p{
    position: absolute;
    font-size: 1.2rem;
    margin: 3rem 0 1rem;
    color: white;
/right: 25%;/
top: 35%;
    left: 10%;
}
.chatApplication-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 36%;
}
.chatApplication-layer a i{
    font-size: 1rem;
    color: #1f242d;


}

main>section:nth-child(4)>.projc .projc-box:nth-child(4){
    position: relative;
}

/* #viewmore1{
 width: 20%;
 height: 5%;
 position: absolute;

 top: 90%;
 left:70%;
 border-radius: 10px;
 background: linear-gradient(180deg, #926014 99.99%, rgba(56, 34, 1, 0.00) 100%);

}

#viewmore1>h2{
 position: absolute;
 top: -40%;
 left:10%;
} */

/*section 5*/
main>section:nth-child(5){
    background-color: #07131C;
    height: 100vh;
    background-size: 100vw 100vh;
    position: relative;
    font-size: 0;
}

main>section:nth-child(5)>h3>strong{
    font-family: 'Lustria', serif;
    color: white;
    position: absolute;
    left: 3%;
    top: 6%;
    font-size:1.7rem;



}

#div1{
    position: absolute;
    width: 30%;
    height: 50%;
    background-color: #233034;
    top: 15%;
    left:2%;
    color:white;
    transition-duration: 3s;
    transition-property:all;
    transition: 3s;
    border-radius: 50px;
}
#div1:hover{
    transition-duration: 3s;
    transition-property:all;
    background: #000000 ;
    transform: scale(1.08, 1.08);
    z-index: 2;
}

#div1>h1{
    color: #11E2FF;
    position: absolute;
    left: 20%;
    font-size:2rem;

}

#div1>img{
    position: absolute;
    left:25%;
    top: 30%;
}

#div2{
    position: absolute;
    width: 30%;
    height: 50%;
    background-color: #233034;
    top: 15%;
    left:35%;
    color:white;
    transition-duration: 3s;
    transition-property:all;
    transition: 3s;
    border-radius: 50px;
}
#div2:hover{
    transition-duration: 3s;
    transition-property:all;
    background: #000000 ;
    transform: scale(1.08, 1.08);
    z-index: 2;
}

#div2>h1{
    color: #11E2FF;
    position: absolute;
    left: 15%;
    font-size:2rem;

}

#div2>img{
    position: absolute;
    left:25%;
    top: 30%;
}

#div3{
    position: absolute;
    width: 30%;
    height: 50%;
    background-color: #233034;
    top: 15%;
    left:67%;
    color:white;
    transition-duration: 3s;
    transition-property:all;
    transition: 3s;
    border-radius: 50px;
}
#div3:hover{
    transition-duration: 3s;
    transition-property:all;
    background: #000000 ;
    transform: scale(1.08, 1.08);
    z-index: 2;
}

#div3>h1{
    color: #11E2FF;
    position: absolute;
    left: 15%;
    font-size:2rem;

}

#div3>img{
    position: absolute;
    left:25%;
    top: 30%;
}

#viewmore3{
    position: absolute;
    width: 15%;
    height: 8%;
    background-color: #6BB1F1;
    top: 75%;
    left:70%;
    color:white;
    transition-duration: 3s;
    transition-property:all;
    transition: 3s;
    border-radius: 10px;
}

#viewmore3:hover{
    transition-duration: 3s;
    transition-property:all;
    background: #00fff7;
    transform: scale(1.08, 1.08);
    z-index: 2;
}

#viewmore3>a>h2{
    position: absolute;
    top: -35%;
    left: 18%;
    color: black;
    font-size:2rem;
}

/*section 6*/
main>section:nth-child(6){
    position: relative;
    height: 100vh;
    display: flex;
    background-size: 100vw 100vh;
    background-color: #1B222C;
}

main>section:nth-child(6)>h3>strong{
    font-family: 'Lustria', serif;
    color: white;
    position: absolute;
    left: 3%;
    top: 6%;
    font-size:1.7rem;
}

#achive1{
    position: absolute;
    width: 40%;
    height: 10%;
    background-color: #0C111F;
    top: 20%;
    left:10%;
    color:rgb(0, 238, 255);
    transition-duration: 1s;
    transition-property:all;
    transition: 2s;
    border-radius: 30px;
    border: 5px solid black;
}

#achive1:hover{
    transition-duration: 2s;
    transition-property:all;
    border: 4px solid #b3b8b8 ;
    transform: scale(1.08, 1.08);
    z-index: 2;
}

#achive1>pre{
    position: relative;
    top: -4%;
    left:-10%;
    font-family: 'Kalam', cursive;
    color: white;
}

#achive1>img{
    position: absolute;
    top: -10%;
    left:-18%;
}

/* #achive1{
 width: 40%;
 height: 10%;
 position: absolute;
 background-color: #0C111F;
 top: 10%;
 left:10%;
 border-radius: 30px;
 border: 5px solid black;
} */

#achive2{
    position: absolute;
    width: 40%;
    height: 10%;
    background-color: #0C111F;
    top: 35%;
    left:20%;
    color:rgb(0, 238, 255);
    transition-duration: 3s;
    transition-property:all;
    transition: 2s;
    border-radius: 30px;
    border: 5px solid black;
}

#achive2:hover{
    transition-duration: 2s;
    transition-property:all;
    border: 4px solid #b3b8b8 ;
    transform: scale(1.08, 1.08);
    z-index: 2;
}

#achive2>pre{
    position: relative;
    top: -4%;
    left:-10%;
    font-family: 'Kalam', cursive;
    color: white;
}

#achive2>img{
    position: absolute;
    top: -10%;
    left:-18%;
}
/* #achive2{
 width: 40%;
 height: 10%;
 position: absolute;
 background-color:  #0C111F;
 top: 25%;
 left:20%;
 border-radius: 30px;
 border: 5px solid black;
} */


#achive3{
    position: absolute;
    width: 40%;
    height: 10%;
    background-color: #0C111F;
    top: 50%;
    left:30%;
    color:rgb(0, 238, 255);
    transition-duration: 3s;
    transition-property:all;
    transition: 2s;
    border-radius: 30px;
    border: 5px solid black;
}

#achive3:hover{
    transition-duration: 2s;
    transition-property:all;
    border: 4px solid #b3b8b8 ;
    transform: scale(1.08, 1.08);
    z-index: 2;
}

#achive3>pre{
    position: relative;
    top: -4%;
    left:-10%;
    font-family: 'Kalam', cursive;
    color: white;
}

#achive3>img{
    position: absolute;
    top: -10%;
    left:-18%;
}


/* #achive3{
 width: 40%;
 height: 10%;
 position: absolute;
 background-color:  #0C111F;
 top: 40%;
 left:30%;
 border-radius: 30px;
 border: 5px solid black;
} */

#achive4{
    position: absolute;
    width: 40%;
    height: 10%;
    background-color: #0C111F;
    top: 65%;
    left:40%;
    color:rgb(0, 238, 255);
    transition-duration: 3s;
    transition-property:all;
    transition: 2s;
    border-radius: 30px;
    border: 5px solid black;
}

#achive4:hover{
    transition-duration: 2s;
    transition-property:all;
    border: 4px solid #b3b8b8 ;
    transform: scale(1.08, 1.08);
    z-index: 2;
}

#achive4>pre{
    position: relative;
    top: -4%;
    left:-10%;
    font-family: 'Kalam', cursive;
    color: white;
}

#achive4>img{
    position: absolute;
    top: -10%;
    left:-18%;
}

/* #achive4{
 width: 40%;
 height: 10%;
 position: absolute;
 background-color:  #0C111F;
 top: 55%;
 left:40%;
 border-radius: 30px;
 border: 5px solid black;
} */

#achive5{
    position: absolute;
    width: 40%;
    height: 10%;
    background-color: #0C111F;
    top: 80%;
    left:50%;
    color:rgb(0, 238, 255);
    transition-duration: 3s;
    transition-property:all;
    transition: 2s;
    border-radius: 30px;
    border: 5px solid black;
}

#achive5:hover{
    transition-duration: 2s;
    transition-property:all;
    border: 4px solid #b3b8b8 ;
    transform: scale(1.08, 1.08);
    z-index: 2;
}

#achive5>pre{
    position: relative;
    top: -4%;
    left:-10%;
    font-family: 'Kalam', cursive;
    color: white;
}

#achive5>img{
    position: absolute;
    top: -10%;
    left:-18%;
}
/* #achive5{
 width: 40%;
 height: 10%;
 position: absolute;
 background-color:  #0C111F;
 top: 70%;
 left:50%;
 border-radius: 30px;
 border: 5px solid black;
} */

#img1{
    position: absolute;
    top: 22%;
    left: 53%;
}

#img2{
    position: absolute;
    top: 38%;
    left:63%;
}

#img3{
    position: absolute;
    top: 53%;
    left:73%;
}

#img4{
    position: absolute;
    top: 68%;
    left:83%;
}

/*section 7*/
main>section:nth-child(7) {
    position: relative;
    height: 100vh;
    display: flex;
    background-size: 100vw 100vh;
    background-color: #131d2f;
}

main>section:nth-child(7)>h1{
    position: absolute;
    left: 1%;
    top: -3%;
    font-size: 2.3rem;
    color: white;
}

#name1{
    position: absolute;
    top: 12%;
    font-size: 1.3rem;
    font-family: 'Joti One', cursive;
    color: #07e0e0;
    left: 1%;
}

#name2{
    position: absolute;
    top: 53%;
    font-size: 1.3rem;
    font-family: 'Joti One', cursive;
    color: #07e0e0;
    left: 1%;
}



.activity{
    display: grid;
    position: relative;
    left: 0;
    right: 0;
    width: 90vw;
    height: 80vh;
    top: 8vh;
    bottom: 0;
    margin: auto;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    transition: .5s ease;
}

.activity>div{

    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.68);
/border-radius: 10vw;/
border: 2px solid black;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 3%;
    transition: .5s ease;
}

.activity>div:hover{
    transition-duration: 3s;
    transition-property:all;
    transition: 2s;
    transform: scale(1.02);
/box-shadow: 0 0 1rem #0ef;
}
.activity>div:nth-child(1){
    background: url("assets/image/i1.jpg");
    background-size: cover;
    grid-column: 0/6;
    /*grid-row: 1/6;*/
    transition: .5s ease;

}
.activity>div:nth-child(2){
    background: url(assets/image/i2.jpg);
    background-size: cover;
    transition: .5s ease;
}
.activity>div:nth-child(3){
    background: url(assets/image/i3.jpeg);
    background-size: cover;
    transition: .5s ease;
}
.activity>div:nth-child(4){
    background: url(assets/image/i5.jpg);
    background-size: cover;
    transition: .5s ease;
}
.activity>div:nth-child(5){
    background: url(assets/image/i4.jpeg);
    background-size: cover;
    transition: .5s ease;
}
.activity>div:nth-child(6){
    background: url(assets/image/i6.jpg);
    background-size: cover;
    transition: .5s ease;
}
.activity>div:nth-child(7){
    background: url(assets/image/w1.jpg);
    background-size: cover;
    transition: .5s ease;
}
.activity>div:nth-child(8){
    background: url(assets/image/w2.jpg);
    background-size: cover;
    transition: .5s ease;
}
.activity>div:nth-child(9){
    background: url(assets/image/w3.jpeg);
    background-size: cover;
    transition: .5s ease;
}
.activity>div:nth-child(10){
    background: url(assets/image/w4.jpg);
    background-size: cover;
    transition: .5s ease;
}
.activity>div:nth-child(11){
    background: url(assets/image/w5.jpeg);
    background-size: cover;
    transition: .5s ease;
}
.activity>div:nth-child(12){
    background: url(assets/image/g2.jpeg);
    background-size: cover;
    transition: .5s ease;
}


/*section 8*/
main>section:nth-child(8) {
    position: relative;
    height: 100vh;
    display: flex;
    background-size: 100vw 100vh;
    background-color: #07131C;

}

main>section:nth-child(8)>h1{
    position: absolute;
    left: 1%;
    top: 5%;
    font-size: 2.3rem;
    color: white;
}
.gallery{
    display: grid;
    position: relative;
    left: 0;
    right: 0;
    width: 80vw;
    height: 80vh;
    top: 8vh;
    bottom: 0;
    margin: auto;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    transition: .5s ease;
}

.gallery>div{
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);
/border-radius: 2vw;/
border: 2px solid black;
    transition: .5s ease;
}

.gallery>div:hover{
    transform: scale(1.02);
/box-shadow: 0 0 1rem #0ef;/
}

.gallery>div:nth-child(1){
    background: url("assets/image/g1.jpeg");
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/3;
    transition: .5s ease;

}

.gallery>div:nth-child(2){
    background: url(assets/image/g2.jpeg);
    background-size: cover;
    grid-column:2/3;
    grid-row: 1/3;
    transition: .5s ease;

}

.gallery>div:nth-child(3){
    background: url("assets/image/g3.jpeg");
    background-size: cover;
    grid-column:3/4;
    grid-row: 1/3;
    transition: .5s ease;
}

.gallery>div:nth-child(4){
    background: url("assets/image/g2.jpeg");
    background-size: cover;
    grid-row: 2/4;
    grid-column: 4/5;
    transition: .5s ease;
}

.gallery>div:nth-child(5){
    background: url("assets/image/g5.jpg");
    background-size: cover;
    grid-row: 1/3;
    grid-column: 4/5;
    transition: .5s ease;
}

.gallery>div:nth-child(6){
    background: url("assets/image/g6.jpg");
    background-size: cover;
    grid-row: 2/4;
    grid-column: 4/5;
    transition: .5s ease;
}

.gallery>div:nth-child(7){
    background: url("assets/image/g7.jpg");
    background-size: cover;
    grid-row: 3/4;
    grid-column: 4/5;
    transition: .5s ease;
}

.gallery>div:nth-child(8){
    background: url("assets/image/g8.jpeg");
    background-size: cover;
    transition: .5s ease;
}

.gallery>div:nth-child(9){
    background: url("assets/image/g11.jpeg");
    background-size: cover;
    transition: .5s ease;

}

.gallery>div:nth-child(10){
    background: url("assets/image/g4.jpeg");
    background-size: cover;
    transition: .5s ease;
}


/*footer*/
body>footer{
    font-size: 0;
    background-color:#111D28 ;
    height: 100vh;
    position: relative;
}
body>footer>header{
    background-color: #272626e5;
    width: 100%;
    height: 7vh;
    text-align: center;
    top: 0;
    position: sticky;
    z-index: 2;
}

#quection{
    position: absolute;
    top: 2%;
    left: 1%;
    font-size: 2.3rem;
    color: #ffffff;
    font-family: 'Lemon', cursive;
}



#image1 {
    position: absolute;
    top: 15%;
    left: 5%;
}

#image2 {
    position: absolute;
    top: 29%;
    left: 5%;
}

#image3 {
    position: absolute;
    top: 42%;
    left: 5%;
}

#image4 {
    position: absolute;
    top: 55%;
    left: 5%;
}

 #href1{
      position: absolute;
      top: 18%;
      left: 10%;
      color: white;
      font-size: large;
     text-decoration: none;
     }

#href2{
    position: absolute;
    top: 32%;
    left: 10%;
    color: white;
    font-size: large;
    text-decoration: none;
}

#href3{
    position: absolute;
    top: 44%;
    left: 10%;
    color: white;
    font-size: large;
    text-decoration: none;
}

#href4{
    position: absolute;
    top: 58%;
    left: 10%;
    color: white;
    font-size: large;
    text-decoration: none;
}
#details {
    width: 53%;
    height: 51%;
    position: absolute;
    background-color: #244c4c;
    border: 2px solid black;
    border-radius: 15px;
    top: 15%;
    left: 39%;
    font-size: 1.5rem;
}
#nameLabel {
    position: absolute;
    left: 2%;
    top: 27%;
}
#name{
    position: absolute;
    left: 10%;
    width: 36%;
    height: 15%;
    top: 22%;

}

#emailLabel{
    position: absolute;
    top: 28%;
    height: 10%;
    left: 54%;
}

#email{
    position: absolute;
    height: 15%;
    top: 22%;
    width: 36%;
    left: 62%;
}

#massageLabel{
    position: absolute;
    top: 49%;
    left: 1%;

}

#massage{
    position: absolute;
    top: 47%;
    left: 10%;
    height: 29%;
    width: 88%;

}

#submit {
    position: absolute;
    left: 79%;
    top: 85%;
}

.contactimage{
    width: 50%;
    height: 60%;

}

.contactimage{
    position: absolute;
    padding-left: 0%;
    top: 30%;

}

.contactimage a{
    display:flex ;
    justify-content: center;
    align-items: center;
    left: 5%;
    width: 50px;
    height: 50px;
    background:transparent;
    border: 2px solid #00F6F6;
    border-radius: 50%;
    font-size: 2rem;
    color: #00F6F6;
    transition: .5s ease;
    text-decoration: none;

}

.contactimage a:hover{
    background: #00F6F6;
    color: #040C13;
    box-shadow: 0 0 1rem #00F6F6;

}

.contactimage>nav>img:first-child{
    position:absolute;
    top: 30%;
    right: 5%;
}

.contactimage>nav>img:nth-child(2){
    position:absolute;
    top: 40%;
    right: 5%;
}

.contactimage>nav>img:nth-child(3){
    position:absolute;
    top: 50%;
    right: 5%;
}

.contactimage>nav>img:nth-child(4){
    position:absolute;
    top: 60%;
    right: 5%;
}


.followme{
    width: 50%;
    height: 60%;

}

.followme{
    position: absolute;
    padding-left: 30%;
    top: 23%;

}

.followme>h2 {
    position: absolute;
    top: 67%;
    left: 50%;
    font-size: 2.1rem;
    color: #04f1dd;
    font-family: 'Lemon', cursive;
}

.followme a{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 5%;
    width: 50px;
    height: 50px;
    background: #406567;
    border: 2px solid #00F6F6;
    border-radius: 50%;
    margin: 1rem 1rem 1rem;
    font-size: 2rem;
    color: #00F6F6;
    transition: .5s ease;
    text-decoration: none;
    flex-direction: row-reverse;
    align-content: space-around;
    align-items: center;

}

.followme a:hover{
    background: #00F6F6;
    color: #040C13;
    box-shadow: 0 0 1rem #00F6F6;

}

#fb{
    position:absolute;
        top: 85%;
        left: 35%;
}

#linkedin {
    position: absolute;
    top: 85%;
    left: 43%;
}

#twitter {
    position: absolute;
    top: 85%;
    left: 51%;
}
#git {
    position: absolute;
    top: 85%;
    left: 59%;
}

#YouTube {
    position: absolute;
    top: 85%;
    left: 67%;
}

#copyright {
    position: absolute;
    top: 93%;
    left: 29%;
    font-size: 1.1rem;
    color: #060606;
    font-family: 'Lemon', cursive;
}


/*.followme>nav>img:first-child{*/
/*    position:absolute;*/
/*    top: 30%;*/
/*    right: 5%;*/
/*}*/

/*.followme>nav>img:nth-child(2){*/
/*    position:absolute;*/
/*    top: 40%;*/
/*    right: 5%;*/
/*}*/

/*.followme>nav>img:nth-child(3){*/
/*    position:absolute;*/
/*    top: 50%;*/
/*    right: 5%;*/
/*}*/

/*.followme>nav>img:nth-child(4){*/
/*    position:absolute;*/
/*    top: 60%;*/
/*    right: 5%;*/
/*}*/



/*media Quaery*/
@media (min-width :320px) and (max-width: 375px) {

    #welcome>hgroup>h2 {
        position: absolute;
        top: 10%;
        left: 3%;
        font-size: 12px;
        color: #11E2FF;
        font-family: 'Kaushan Script', cursive;
    }

    #welcome>hgroup>h1 {
        position: absolute;
        top: 17%;
        left: 3%;
        font-size: 18px;
        font-family: 'Kumar One', cursive;
        color: #FFFFFF;
    }

    #welcome>article>pre {
        position: absolute;
        top: 22%;
        left: 12%;
        font-size: 12px;
        font-family: 'Judson', serif;
        color: #DBE4E4;
    }

    main>section:nth-child(1)>aside>img {
        position: absolute;
        height: 96%;
        width: 171%;
        top: 33%;
        right: -31%;
    }
    main>section:nth-child(1)>aside>h4 {
        font-family: 'Abhaya Libre', serif;
        color: white;
        position: absolute;
        top: 126%;
        right: -26%;
        left: -87%;
        font-size: 20px;
    }

    .icon {
        position: absolute;
        padding-left: 6%;
        top: 45%;
    }

    .icon a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background: transparent;
        border: 2px solid #00F6F6;
        border-radius: 50%;
        font-size: 1rem;
        color: #00F6F6;
        transition: .5s ease;
        text-decoration: none;
    }
    /*body>header>div>h4 {*/
    /*    position: absolute;*/
    /*    top: 483%;*/
    /*    left: 193%;*/
    /*    font-size: 9px;*/
    /*    font-family: 'Give You Glory', cursive;*/
    /*    color: #00F6F6;*/
    /*}*/


    /*#headImage>aside>img {*/
    /*    height: 6vh;*/
    /*    width: 10vw;*/
    /*    position: absolute;*/
    /*    top: 225%;*/
    /*    left: -18%;*/
    /*}*/

    /*section 2*/
    main>section:nth-child(2)>h1 {
        position: absolute;
        top: 5%;
        left: 1%;
        font-size: 24px;
        color: #ffffff;
        font-family: 'Lemon', cursive;
    }

    main>section:nth-child(2)>article>pre {
        color: #04CFFC;
        position: absolute;
        top: 15%;
        left: -50%;
        font-size: 15px;
    }

    main>section:nth-child(2)>aside>img {
        top: 15%;
        position: absolute;
        left: 6%;
        height: 30%;
        width: 43%;
    }

    #section2about {
        width: 26%;
        height: 53%;
        position: absolute;
        top: 50%;
        left: 11%;
        font-size: 7px;
        color: black;
    }

    main>section:nth-child(2)>address {
        position: absolute;
        top: 48%;
        left: 39%;
        font-size: 8px;
        color: white;
        padding-bottom: 30px;
    }

/*    section 3*/

    main>section:nth-child(3)>h1>strong {
        position: absolute;
        top: 5%;
        left: 1%;
        color: #ffffff;
        font-family: 'Lemon', cursive;
        font-size: 2rem;
    }

    #uiux {
        position: absolute;
        width: 65%;
        height: 10%;
        background-color: #000E1E;
        top: 14%;
        left: 5%;
        color: rgb(0, 238, 255);
        transition-duration: 3s;
        transition-property: all;
        transition: 3s;
        border-radius: 10px;
    }

    #uiux>img {
        position: absolute;
        left: -7%;
        width: 57%;
        height: 84%;
        top: -1%;
    }

    #uiux>h1 {
        position: absolute;
        text-align: center;
        font-size: 10px;
        top: 66%;
        left: 8%;
        color: white;
    }

    #uiux>pre {
        position: absolute;
        font-size: 5px;
        top: 3%;
        left: 18%;
        color: white;
    }

    #www {
        position: absolute;
        width: 65%;
        height: 10%;
        background-color: #000E1E;
        top: 27%;
        left: 6%;
        color: rgb(0, 238, 255);
        transition-duration: 3s;
        transition-property: all;
        transition: 3s;
        border-radius: 10px;
    }

    #www>img {
        position: absolute;
        left: 11%;
        height: 64%;
        width: 28%;
    }

    #www>h1 {
        position: absolute;
        text-align: center;
        font-size: 10px;
        top: 64%;
        left: 8%;
        color: white;
    }

    #www>pre {
        position: absolute;
        font-size: 5px;
        top: 25%;
        left: 17%;
        color: white;
    }

    #bugfix {
        position: absolute;
        width: 65%;
        height: 10%;
        background-color: #000E1E;
        top: 39%;
        left: 6%;
        color: rgb(0, 238, 255);
        transition-duration: 3s;
        transition-property: all;
        transition: 3s;
        border-radius: 10px;
    }

    #bugfix>img {
        position: absolute;
        left: 6%;
        height: 58%;
        width: 28%;
        top: 9%;
    }

    #bugfix>h1 {
        position: absolute;
        text-align: center;
        font-size: 10px;
        top: 58%;
        left: 11%;
        color: white;
    }

    #bugfix>pre {
        position: absolute;
        font-size: 5px;
        top: 8%;
        left: 17%;
        color: white;
    }
    main>section:nth-child(3)>h4 {
        position: absolute;
        font-size: 15px;
        top: 56%;
        left: 6%;
        color: white;
    }

    #languagetools>img {
        position: relative;
        right: 58px;
        transition: 3s;
        margin-top: 144%;
        left: 2%;
        height: 17%;
        width: 12%;
    }

/*    section 4*/

    main>section:nth-child(4)>h1>strong {
        color: #ffffff;
        font-family: 'Lemon', cursive;
        position: absolute;
        top: 2%;
        left: 1%;
        font-size: 1rem;
    }

    main>section:nth-child(4)>h3 {
        font-family: 'Lustria', serif;
        color: white;
        position: absolute;
        left: 3%;
        top: 6%;
        font-size: 0.7rem;
    }

    .project .calculator {
        width: 34vw;
        height: 24vh;
        /* position: absolute; */
        background-color: #051324;
        top: -42%;
        left: 3%;
        /* border-radius: 30px; */
        /* width: 25vw; */
        /* height: 35vh; */
        position: relative;
        border-radius: 2rem;
        box-shadow: 0 0 1rem #1f242d;
        overflow: hidden;
        display: flex;
        left: 24%;
    }

    .project .connet4games {
        width: 34vw;
        height: 24vh;
        /* position: absolute; */
        background-color: #051324;
        top: -42%;
        left: 3%;
        /* border-radius: 30px; */
        /* width: 25vw; */
        /* height: 35vh; */
        position: relative;
        border-radius: 2rem;
        box-shadow: 0 0 1rem #1f242d;
        overflow: hidden;
        display: flex;
        left: 22%;
    }

    .project .furniture {
        width: 34vw;
        height: 24vh;
        /* position: absolute; */
        background-color: #051324;
        top: 100%;
        left: 3%;
        /* border-radius: 30px; */
        /* width: 25vw; */
        /* height: 35vh; */
        position: relative;
        border-radius: 2rem;
        box-shadow: 0 0 1rem #1f242d;
        overflow: hidden;
        display: flex;
        left: -236%;
    }

    .project .hostal {
        width: 34vw;
        height: 24vh;
        /* position: absolute; */
        background-color: #051324;
        top: -25%;
        left: 3%;
        /* border-radius: 30px; */
        /* width: 25vw; */
        /* height: 35vh; */
        position: relative;
        border-radius: 2rem;
        box-shadow: 0 0 1rem #1f242d;
        overflow: hidden;
        display: flex;
        left: 149%;
    }

    .project .student {
        width: 34vw;
        height: 24vh;
        /* position: absolute; */
        background-color: #051324;
        top: 109%;
        left: 3%;
        /* border-radius: 30px; */
        /* width: 25vw; */
        /* height: 35vh; */
        position: relative;
        border-radius: 2rem;
        box-shadow: 0 0 1rem #1f242d;
        overflow: hidden;
        display: flex;
        left: -104%;
    }

    .project .chatApplication {
        width: 34vw;
        height: 24vh;
        /* position: absolute; */
        background-color: #051324;
        top: 109%;
        left: 3%;
        /* border-radius: 30px; */
        /* width: 25vw; */
        /* height: 35vh; */
        position: relative;
        border-radius: 2rem;
        box-shadow: 0 0 1rem #1f242d;
        overflow: hidden;
        display: flex;
        left: -109%;
    }

/*    section 5*/

    main>section:nth-child(5)>h3>strong {
        font-family: 'Lustria', serif;
        color: white;
        position: absolute;
        left: 3%;
        top: 5%;
        font-size: 0.7rem;
    }

    #div1 {
        position: absolute;
        width: 30%;
        height: 50%;
        background-color: #233034;
        top: 15%;
        left: 2%;
        color: white;
        transition-duration: 3s;
        transition-property: all;
        transition: 3s;
        border-radius: 50px;
    }

    #div1>h1 {
        color: #11E2FF;
        position: absolute;
        left: 9%;
        top: 6%;
        font-size: 1rem;
    }

    #div1>img {
        position: absolute;
        left: 2%;
        top: 37%;
        height: 46%;
        width: 96%;
    }

    #div2 {
        position: absolute;
        width: 30%;
        height: 50%;
        background-color: #233034;
        top: 15%;
        left: 35%;
        color: white;
        transition-duration: 3s;
        transition-property: all;
        transition: 3s;
        border-radius: 50px;
    }

    #div2>h1 {
        color: #11E2FF;
        position: absolute;
        left: 9%;
        top: 5%;
        font-size: 1rem;
    }

    #div2>img {
        position: absolute;
        left: 7%;
        top: 36%;
        height: 46%;
        width: 90%;
    }

    #div3 {
        position: absolute;
        width: 30%;
        height: 50%;
        background-color: #233034;
        top: 15%;
        left: 67%;
        color: white;
        transition-duration: 3s;
        transition-property: all;
        transition: 3s;
        border-radius: 50px;
    }

    #div3>h1 {
        color: #11E2FF;
        position: absolute;
        left: 7%;
        top: 5%;
        font-size: 1rem;
    }

    #div3>img {
        position: absolute;
        left: 3%;
        top: 36%;
        width: 87%;
        height: 54%;
    }

    #viewmore3 {
        position: absolute;
        width: 52%;
        height: 8%;
        background-color: #6BB1F1;
        top: 75%;
        left: 41%;
        color: white;
        transition-duration: 3s;
        transition-property: all;
        transition: 3s;
        border-radius: 10px;
    }

    #viewmore3>a>h2 {
        position: absolute;
        top: -24%;
        left: 23%;
        color: black;
        font-size: 1rem;
    }

/*    section 6*/

    main>section:nth-child(6)>h3>strong {
        font-family: 'Lustria', serif;
        color: white;
        position: absolute;
        left: 3%;
        top: 4%;
        font-size: 1.7rem;
    }

    #achive1 {
        position: absolute;
        width: 40%;
        height: 10%;
        background-color: #0C111F;
        top: 20%;
        left: 12%;
        color: rgb(0, 238, 255);
        transition-duration: 1s;
        transition-property: all;
        transition: 2s;
        border-radius: 30px;
        border: 5px solid black;
    }

    #achive1>img {
        position: absolute;
        top: 15%;
        left: -32%;
        height: 64%;
        width: 27%;
    }

    #achive1>pre {
        position: relative;
        top: 15%;
        left: -41%;
        font-family: 'Kalam', cursive;
        color: white;
        font-size: 35%;
    }

    #achive2 {
        position: absolute;
        width: 40%;
        height: 10%;
        background-color: #0C111F;
        top: 35%;
        left: 20%;
        color: rgb(0, 238, 255);
        transition-duration: 3s;
        transition-property: all;
        transition: 2s;
        border-radius: 30px;
        border: 5px solid black;
    }

    #achive2>img {
        position: absolute;
        top: 19%;
        left: -34%;
        height: 64%;
        width: 27%;
    }

    #achive2>pre {
        position: relative;
        top: 13%;
        left: -36%;
        font-family: 'Kalam', cursive;
        color: white;
        font-size: 6px;
    }

    #achive3 {
        position: absolute;
        width: 40%;
        height: 10%;
        background-color: #0C111F;
        top: 50%;
        left: 30%;
        color: rgb(0, 238, 255);
        transition-duration: 3s;
        transition-property: all;
        transition: 2s;
        border-radius: 30px;
        border: 5px solid black;
    }

    #achive3>img {
        position: absolute;
        top: 7%;
        left: -34%;
        height: 64%;
        width: 27%;
    }

    #achive3>pre {
        position: relative;
        top: 14%;
        left: -35%;
        font-family: 'Kalam', cursive;
        color: white;
        font-size: 6px;
    }

    #achive4 {
        position: absolute;
        width: 40%;
        height: 10%;
        background-color: #0C111F;
        top: 65%;
        left: 40%;
        color: rgb(0, 238, 255);
        transition-duration: 3s;
        transition-property: all;
        transition: 2s;
        border-radius: 30px;
        border: 5px solid black;
    }

    #achive4>img {
        position: absolute;
        top: 14%;
        left: -43%;
        height: 94%;
        width: 37%;
    }

    #achive4>pre {
        position: relative;
        top: 13%;
        left: -38%;
        font-family: 'Kalam', cursive;
        color: white;
        font-size: 6px;
    }

    #achive5 {
        position: absolute;
        width: 40%;
        height: 10%;
        background-color: #0C111F;
        top: 80%;
        left: 50%;
        color: rgb(0, 238, 255);
        transition-duration: 3s;
        transition-property: all;
        transition: 2s;
        border-radius: 30px;
        border: 5px solid black;
    }

    #achive5>img {
        position: absolute;
        top: 23%;
        left: -44%;
        height: 94%;
        width: 37%;
    }

    #achive5>pre {
        position: relative;
        top: 11%;
        left: -43%;
        font-family: 'Kalam', cursive;
        color: white;
        font-size: 6px;
    }

    #img1 {
        position: absolute;
        top: 25%;
        left: 57%;
        width: 10%;
        height: 7%;
    }

    #img2 {
        position: absolute;
        top: 40%;
        left: 65%;
        width: 10%;
        height: 7%;
    }

    #img3 {
        position: absolute;
        top: 56%;
        left: 75%;
        width: 10%;
        height: 7%;
    }

    #img4 {
        position: absolute;
        top: 71%;
        left: 85%;
        width: 10%;
        height: 7%;
    }



/*section 7*/

    main>section:nth-child(7)>h1 {
        position: absolute;
        left: 1%;
        top: -3%;
        font-size: 1.3rem;
        color: white;
    }

    #name1 {
        position: absolute;
        top: 9%;
        font-size: 1.1rem;
        font-family: 'Joti One', cursive;
        color: #07e0e0;
        left: 1%;
    }

    .activity {
        display: grid;
        position: relative;
        left: 0;
        right: 0;
        width: 90vw;
        height: 70vh;
        top: 17vh;
        bottom: 69%;
        margin: auto;
        padding-bottom: 12%;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(6,1fr);
        transition: .5s ease;
    }

    #name2 {
        position: absolute;
        top: 16%;
        font-size: 1.1rem;
        font-family: 'Joti One', cursive;
        color: #07e0e0;
        left: 1%;
    }








}




