*{
    scroll-behavior: smooth;
}

/*section 1*/
main>section:nth-child(1) {
    position: relative;
    height: 70vh;
    display: flex;
    background-size: 100vw 80vh;
    background-color: #0a0c0e;

}

main>section:nth-child(1)>h1{
    position: absolute;
    left: 1%;
    top: -3%;
    font-size: 2.3rem;
    color: #6b8787;
}

.css{
    display: grid;
    position: relative;
    left: 0;
    right: 0;
    width: 90vw;
    height: 100vh;
    top: 12vh;
    bottom: 0;
    margin: auto;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    transition: .5s ease;

}

.css>div{

    box-shadow: 6px 10px 10px 6px rgba(0, 223, 253, 0.68);
/border-radius: 15vw;/
border: 2px solid black;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 6%;
    transition: .5s ease;
    border-radius: 10%;
}

.css>div:hover{
    transition-duration: 3s;
    transition-property:all;
    transition: 2s;
    transform: scale(1.02);
/box-shadow: 0 0 1rem #0ef;
}

.css>div:nth-child(1)>h1{
    position: absolute;
    margin: auto;
    top: 3%;
    left: 5%;
    color: #00c7ff;
    font-size:2rem;
}



/*.css>div:nth-child(2)>h1{*/
/*    position: absolute;*/
/*    top: 3%;*/
/*    left: 22%;*/
/*    color: #00c7ff;*/
/*    font-size:2rem;*/
/*}*/

/*.css>div:nth-child(3)>h1{*/
/*    position: absolute;*/
/*    top: 3%;*/
/*    left: 38%;*/
/*    color: #00c7ff;*/
/*    font-size:2rem;*/
/*}*/

/*.css>div:nth-child(4)>h1{*/
/*    position: absolute;*/
/*    top: 3%;*/
/*    left: 52%;*/
/*    color: #00c7ff;*/
/*    font-size:2rem;*/
/*}*/

/*.css>div:nth-child(5)>h1{*/
/*    position: absolute;*/
/*    top: 2%;*/
/*    left: 5%;*/
/*    color: #00c7ff;*/
/*    font-size:2rem;*/
/*}*/

/*.css>div:nth-child(6)>h1{*/
/*    position: absolute;*/
/*    top: 2%;*/
/*    left: 5%;*/
/*    color: #00c7ff;*/
/*    font-size:2rem;*/
/*}*/


/*.css>div:nth-child(1){*/
/*    !*background: url("image/icons8-course-assign-24.png");*!*/
/*    background-size: cover;*/
/*    grid-column: 0/6;*/
/*    !*grid-row: 1/6;*!*/
/*    transition: .5s ease;*/

/*}*/

/*section 2*/
main>section:nth-child(2) {
    position: relative;
    height: 70vh;
    display: flex;
    background-size: 100vw 80vh;
    background-color: #0a0c0e;

}

main>section:nth-child(2)>h1{
    position: absolute;
    left: 1%;
    top: -3%;
    font-size: 2.3rem;
    color: #6b8787;
}

.animation{
    display: grid;
    position: relative;
    left: 0;
    right: 0;
    width: 90vw;
    height: 100vh;
    top: 12vh;
    bottom: 0;
    margin: auto;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    transition: .5s ease;

}

.animation>div{

    box-shadow: 6px 10px 10px 6px rgba(0, 223, 253, 0.68);
/border-radius: 15vw;/
border: 2px solid black;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 6%;
    transition: .5s ease;
    border-radius: 10%;
}

.animation>div:hover{
    transition-duration: 3s;
    transition-property:all;
    transition: 2s;
    transform: scale(1.02);
/box-shadow: 0 0 1rem #0ef;
}

.animation>div:nth-child(1)>h1{
    position: absolute;
    margin: auto;
    top: 3%;
    left: 5%;
    color: #00c7ff;
    font-size:2rem;
}

/*section 3*/
main>section:nth-child(3) {
    position: relative;
    height: 70vh;
    display: flex;
    background-size: 100vw 80vh;
    background-color: #0a0c0e;

}

main>section:nth-child(3)>h1{
    position: absolute;
    left: 1%;
    top: -3%;
    font-size: 2.3rem;
    color: #6b8787;
}

.framework{
    display: grid;
    position: relative;
    left: 0;
    right: 0;
    width: 90vw;
    height: 100vh;
    top: 12vh;
    bottom: 0;
    margin: auto;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    transition: .5s ease;

}

.framework>div{

    box-shadow: 6px 10px 10px 6px rgba(0, 223, 253, 0.68);
/border-radius: 15vw;/
border: 2px solid black;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 6%;
    transition: .5s ease;
    border-radius: 10%;
}

.framework>div:hover{
    transition-duration: 3s;
    transition-property:all;
    transition: 2s;
    transform: scale(1.02);
/box-shadow: 0 0 1rem #0ef;
}

.framework>div:nth-child(1)>h1{
    position: absolute;
    margin: auto;
    top: 3%;
    left: 5%;
    color: #00c7ff;
    font-size:2rem;
}

/*section 4*/
main>section:nth-child(4) {
    position: relative;
    height: 70vh;
    display: flex;
    background-size: 100vw 80vh;
    background-color: #0a0c0e;

}

main>section:nth-child(4)>h1{
    position: absolute;
    left: 1%;
    top: -3%;
    font-size: 2.3rem;
    color: #6b8787;
}

.transition{
    display: grid;
    position: relative;
    left: 0;
    right: 0;
    width: 90vw;
    height: 100vh;
    top: 12vh;
    bottom: 0;
    margin: auto;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    transition: .5s ease;

}

.transition>div{

    box-shadow: 6px 10px 10px 6px rgba(0, 223, 253, 0.68);
/border-radius: 15vw;/
border: 2px solid black;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 6%;
    transition: .5s ease;
    border-radius: 10%;
}

.transition>div:hover{
    transition-duration: 3s;
    transition-property:all;
    transition: 2s;
    transform: scale(1.02);
/box-shadow: 0 0 1rem #0ef;
}

.transition>div:nth-child(1)>h1{
    position: absolute;
    margin: auto;
    top: 3%;
    left: 5%;
    color: #00c7ff;
    font-size:2rem;
}

/*section 5*/
main>section:nth-child(5) {
    position: relative;
    height: 70vh;
    display: flex;
    background-size: 100vw 80vh;
    background-color: #0a0c0e;

}

main>section:nth-child(5)>h1{
    position: absolute;
    left: 1%;
    top: -3%;
    font-size: 2.3rem;
    color: #6b8787;
}

.javascript{
    display: grid;
    position: relative;
    left: 0;
    right: 0;
    width: 90vw;
    height: 100vh;
    top: 12vh;
    bottom: 0;
    margin: auto;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    transition: .5s ease;

}

.javascript>div{

    box-shadow: 6px 10px 10px 6px rgba(0, 223, 253, 0.68);
/border-radius: 15vw;/
border: 2px solid black;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 6%;
    transition: .5s ease;
    border-radius: 10%;
}

.javascript>div:hover{
    transition-duration: 3s;
    transition-property:all;
    transition: 2s;
    transform: scale(1.02);
/box-shadow: 0 0 1rem #0ef;
}

.javascript>div:nth-child(1)>h1{
    position: absolute;
    margin: auto;
    top: 3%;
    left: 5%;
    color: #00c7ff;
    font-size:2rem;
}